**一、接口描述**
${summary}

**二、请求地址**
| 环境   | 地址   |
|:----:|:----|:----|
| dev   | https://apollo-dev.oyohotels.cn${api}   |
| test  | https://apollo-test.oyohotels.cn${api}   |
| uat   | https://apollo-uat.oyohotels.cn${api}   |
| prod  | https://apollo.oyohotels.cn${api}   |

**三、请求方式**
${method}  application/json

**四、请求参数**
1.请求头
| 参数   | 数据类型    | 说明   |
|:----|:----|:----|
| ticket   | String   | sso单点jwtticket(公共参数)    |
| client_id   | String   | 客户端id(公共参数)    |
| client_type   | String   | 客户端类型(公共参数)    |

#foreach($map in $requestMap.entrySet())
    #set($c=$velocityCount + 1)
    $c.$!{map.key}
| 参数   | 是否必须     | 数据类型    | ** **说明   |
|:----|:----|:----|:----|
    #foreach($item in $map.value)
    | $!{item.name}   | $!{item.required}   | $!{item.type}   | $!{item.description}   |
    #end

#end

**五、请求响应**
#foreach($map in $responseMap.entrySet())
    $velocityCount.$!{map.key}
| 名称   | 类型   | 说明   |
|:----|:----:|:----|:----:|:----|
    #foreach($item in $map.value)
    | $!{item.name}   | $!{item.type}   | $!{item.description}   |
    #end

#end

**六、请求响应样例**
1.请求Demo


2.响应Demo

